.calculations{
    padding-left: 8px;

}

.mainProb{
    height: 90vh;
    
}


.messages{
    padding: 10px;
}
.messages.message{
    padding: 10px;
}

.avaDialogs{
    width: 30px;
    height: 30px;
    border-radius: 30px; 
}

textarea{
    margin-top: 30px;
}